<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junenatte.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.junenatte.dao.Book">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="publisher" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="publishdate" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="price" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="categoryid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.junenatte.dao.Book">
    insert into book (id, name, author, 
      publisher, publishdate, price, 
      categoryid)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{publisher,jdbcType=VARCHAR}, #{publishdate,jdbcType=DATE}, #{price,jdbcType=REAL}, 
      #{categoryid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.junenatte.dao.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="publisher != null">
        publisher,
      </if>
      <if test="publishdate != null">
        publishdate,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="categoryid != null">
        categoryid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=DATE},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>