<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junenatte.imooc.dao.ImoocUserMapper">
    <resultMap id="BaseResultMap" type="com.junenatte.imooc.bean.ImoocUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="wechat_openid" jdbcType="VARCHAR" property="wechatOpenid"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, phone, password, nickname, sex, img, create_time, last_update, wechat_openid
  </sql>

    <select id="selectByPhone" parameterType="map" resultMap="BaseResultMap">
        select * from imooc_user
        <where>
            <if test="password!=null">
                phone like #{phone} and password like #{password}
            </if>
            <if test="password==null">
                phone like #{phone}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from imooc_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from imooc_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.junenatte.imooc.bean.ImoocUser">
    insert into imooc_user (id, phone, password, 
      nickname, img, create_time, 
      last_update, wechat_openid)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdate,jdbcType=TIMESTAMP}, #{wechatOpenid,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.junenatte.imooc.bean.ImoocUser">
        insert into imooc_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdate != null">
                last_update,
            </if>
            <if test="wechatOpenid != null">
                wechat_openid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdate != null">
                #{lastUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="wechatOpenid != null">
                #{wechatOpenid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.junenatte.imooc.bean.ImoocUser">
        update imooc_user
        <set>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdate != null">
                last_update = #{lastUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="wechatOpenid != null">
                wechat_openid = #{wechatOpenid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.junenatte.imooc.bean.ImoocUser">
    update imooc_user
    set phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      wechat_openid = #{wechatOpenid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>