<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junenatte.imooc.dao.ProjectImgsMapper">
  <resultMap id="BaseResultMap" type="com.junenatte.imooc.bean.ProjectImgs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="img_text" jdbcType="VARCHAR" property="imgText" />
    <result column="img_order" jdbcType="INTEGER" property="imgOrder" />
    <result column="project_id" jdbcType="INTEGER" property="projectId"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, img_url, img_text, img_order, project_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_imgs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_imgs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.junenatte.imooc.bean.ProjectImgs">
    insert into project_imgs (id, img_url, img_text, 
      img_order, project_id)
    values (#{id,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{imgText,jdbcType=VARCHAR}, 
      #{imgOrder,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.junenatte.imooc.bean.ProjectImgs">
    insert into project_imgs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="imgText != null">
        img_text,
      </if>
      <if test="imgOrder != null">
        img_order,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgText != null">
        #{imgText,jdbcType=VARCHAR},
      </if>
      <if test="imgOrder != null">
        #{imgOrder,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junenatte.imooc.bean.ProjectImgs">
    update project_imgs
    <set>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgText != null">
        img_text = #{imgText,jdbcType=VARCHAR},
      </if>
      <if test="imgOrder != null">
        img_order = #{imgOrder,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junenatte.imooc.bean.ProjectImgs">
    update project_imgs
    set img_url = #{imgUrl,jdbcType=VARCHAR},
      img_text = #{imgText,jdbcType=VARCHAR},
      img_order = #{imgOrder,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>